/* h1{
  color: limegreen;
} */

table{
  table-layout: fixed;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

tr, th, td{
  border-style: groove;
  width: 15px;
  height: 15px;
}

th{
  border-color:aqua;
}

